.form_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 350px;
  padding: 20px 15px;
}

.label {
  margin-bottom: 5px;
}

.input {
  width: 240px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.btn {
  width: 120px;
  padding: 10px 10px;
  background-color: aliceblue;
  border-color: rgb(248, 246, 246);
  cursor: pointer;
}

.contact_item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.delete_btn {
  background-color: aliceblue;
  border-color: rgb(248, 246, 246);
  cursor: pointer;
  padding: 5px;
}

.btn:hover {
  background-color: rgb(221, 248, 239);
}

.delete_btn:hover {
  background-color: rgb(221, 248, 239);
}

ul {
  padding: 0;
}